{% extends 'base.html' %}
{% load static %}

        {% block css %}
        <!-- CSS files Links here -->
        <!-- <link rel="stylesheet" href="{% static 'groups/css/groups.css' %}"> -->
        {% endblock css%}

        {% block content %}
        <!-- Main Body Here -->
        <div class="h1">Group Page</div>
        {% endblock content %}

        {% block script %}
        <!-- Script files Links here -->
        <!-- <script type="text/javascript" src="{% static 'groups/js/groups.js' %}></script> -->
        {% endblock script %}