{% extends 'base.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/groups.css' %}">
    {% endblock css %}

    {% block content %}
    <p style="text-align:center; font-size: 40px; width: 100%;">Joined Groups</p>
    <section id="GROUP">
        <div class="container">
            <div id="GROUP-title">
                <!-- <h1>Joined Groups</h1> -->
                <div id="group-line"></div>
            </div>
        </div>
    </section>
   
    <section id="people-images">
        <div class="container">
            {% for k, v in team.items %}
            <div class="image-block">
                <a class="image-block-wrapper" href="{% url 'group_forum' %}">
                    <img src="{% static v.img %}" alt="" id="NP" class="images-img"/>
                </a>
                <div class="image-title">
                    <h1>{{ v.name }}</h1>
                    <h2>{{ v.title }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

       <p style="text-align:center; font-size: 40px; width: 100%;">Available Groups</p>
        <section id="GROUP">
            <div class="container">
                <div id="GROUP-title">
                    <!-- <p style="text-align:center; font-size: 40px; width: 100%;">Available Groups</p> -->
                    <div id="group-line"></div>
                </div>
            </div>
        </section>
    
        <section id="people-images">
            <div class="container">
                {% for k, v in team.items %}
                <div class="image-block">
                    <a class="image-block-wrapper" href="{% url 'group_forum' %}">
                        <img src="{% static v.img %}" alt="" id="NP" class="images-img"/>
                    </a>
                    <div class="image-title">
                        <h1>{{ v.name }}</h1>
                        <h2>{{ v.title }}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>

    </section>
    {% endblock content%}

{% block active-nav-link %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock active-nav-link %}
