<!-- home/templates/base.html -->
<!-- Programmers: Jeff C Cheng, Allen Sun -->
<!-- Last Modified: 11/14/2020 -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Bootstrap CSS -->

    <!-- Google Fonts -->        
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <!-- Google Fonts -->        

    <!-- CSS style sheet with customized font -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">
    <!-- CSS style sheet with customized font -->

    <!-- if using CSS in a separate file -->
    <!-- {% block css %}
    {% endblock css %} -->

    <!-- selective page title -->
    {% if title %}
    <title>Kitchen Magician - {{ title }}</title>
    {% else %}
    <title>Kitchen Magician</title>
    {% endif %}
</head>

<body style="background-color:black;">
    <!-- navigation bar at the top of the page -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'home' %}">Kitchen Magician</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggle">

                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                        <a class="nav-item nav-link" href="#">Groups</a>                            
                    </div>    

                    <!-- dividing the nav bar into two divs for better appearance -->

                    <div class="navbar-nav ">
                        <form method="POST" action="#">
                            {% csrf_token %}
                            <select name="filter" id="filter" class="form-control form-control-sm">
                                <option value="none"> -- select an option -- </option>
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="content">Content</option>
                            </select>
                            <input type="text" placeholder="Enter Keywords" name = "keyword">
                            <input type="submit" value="Submit">
                        </form>                  
                        
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'user_profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'user_logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'signup' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div>
            <br>
                <!-- flash message set up -->
                {% if messages %}

                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor%}

                {% endif %}
                <!-- flash message set up -->

            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% block script %}
    
    {% endblock %}
</body>
</html>
