{% extends 'base.html' %}
{% load static %}


        {% block css %}
        <link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
        {% endblock css %}

        {% block content %}
        <section id="contact-us">
            <div class="container">
                <p>
                    At The Kitchen Magician, we take great pride in the quality of our content. Our writers create original, accurate, engaging content that is free of ethical concerns or conflicts. If you ever come across an article or recipe that you think needs to be improved, please reach out by emailing <a href="#">contact@kiechenmagician.com</a>.
                </p>
            </div>

        </section>
        {% endblock content %}