

{% extends "base.html" %} 
{% load static %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
{% endblock css %}

{% block content %}
<div class="grid">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, vero, totam, magnam eos dolorum minus odio ipsam assumenda nostrum ipsa pariatur vitae quia culpa quod velit? Architecto sit neque molestiae eaque amet unde beatae deleniti culpa nisi assumenda. Vero nihil eum voluptatem ex neque nam facere veniam quo, provident aperiam consequuntur suscipit. Sequi ea a repellendus assumenda omnis vero? Suscipit provident eligendi deleniti fugiat ullam dolorum reprehenderit facere deserunt, minus beatae accusamus eaque in tempora atque, architecto corrupti quos pariatur!
  </div>
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sapiente reprehenderit, earum a sint pariatur aperiam delectus possimus maxime ducimus, optio doloribus in et sit placeat deleniti. Unde, facere molestias.
  </div>
</div>

{% endblock %}

{% block script %}
  <script>

  </script>
{% endblock script %}
