{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home_cats.css' %}" />
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock css %}

{% block content %}
<section id="home-block">

<!-- search right under the nav bar, centered -->  
  <div class="wrapper">
    <div class="home-first-block">
      <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <fieldset class="form-group">
          <div id="welcome-first-block">
            <h1 style="color: #F56A58;">
              Browse through our community based website for recipes using the search bar below.
            </h1>
          </div>
          <div id="search-input-container">
            <div id="search-input-block">
                <input type="text" id="search-input-text" placeholder="Find recipes for any ingredient, occasion, course, or diet" name="keywords" maxlength="150" class="search-input">
                <div id="search-input-text-icon">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="search-input" id="search-input-submit" value="Find a Recipe" type="submit"></input>
        </div>
          <div class="welcome-popular-searches-block">
            <h1 class="welcome-popular-searches-title">Popular Searches</h1>
            <div class="welcome-popular-searches-items">
              {% for search_keyword in popular_search_keywords %}
                <a class="popular-search-keyword" href="{% url 'search_keywords' keywords=search_keyword %}">{{ search_keyword }}</a>
              {% endfor %}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
<!-- search right under the nav bar, centered -->

<!-- mission statement in the middle, right beneath the search box -->
  <div class="wrapper">
    <div class="home-statement">
      <form action="POST" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div id="welcome-statement">
          <h2 style="color:white;">
            <!-- <strong> -->
              Explore the magic of cooking with each bite. Check out the top 5 trending recipes on Kitchen Magician below.
            <!-- </strong> -->
          </h2>
        </div>
      </form>
    </div>
  </div>
<!-- mission statement in the middle, right beneath the search box -->

<!-- trending recipes at the very bottom, under the mission statement  -->
  <div class="wrapper">
    <div class="home-trending">
      <form action="POST" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <fieldset class="form-group">
          <div id="welcome-trending">
            <div id="carouselExampleControls" class="carousel slide trending-border border-dark rounded"
              data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <!-- Top recipes -->
              <div id="carousel-inner-block" class="carousel-inner trending-box">
                {% for recipe in top_recipes %}
                <!-- Add class active to first item -->
                  {% if forloop.first %}
                  <div class="carousel-item active">
                  {% else %}
                  <div class="carousel-item">
                  {% endif %}
                    <a href="{% url 'recipe' recipe_id=recipe.id %}" class="trending-pic-a">
                      <img class="d-block h-250 w-100 trending-pic center" src="{{ recipe.image_path }}" alt="{{ recipe.name }}">
                    </a>
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
<!-- trending recipes at the very bottom, under the mission statement  -->

</section>

  {% for cat in recipes_cats %}
    <section id=cat.name class="cat-container" >
      <div class="container title-container">
        <!-- TITLE & SLOGAN -->
        <div class="cat-title-slogan-block">
          <div class="cat-title-block">
            <hi class="cat-title">{{ cat.title }}</hi>
            <div class="cat-title-underline"></div>
          </div>
          <p class="cat-slogan">{{ cat.slogan }}</p>
        </div>
        <!-- ITEMS -->
        <div class="cat-items-block">
          {% for item in cat.items %}
            <a href="{% url 'search_keywords' keywords=item.keywords %}" class="cat-item-block">
              <img src="{% static item.image_path %}" alt="">
              <div class="title-view-recipes-block">
                <p class="cat-item-title">{{ item.title }}</p>
                <div class="view-recipes-block">
                  <div class="view-recipes-slider">
                    <p class="view-recipes-p">VIEW RECIPES</p>
                  </div>
                  <div class="view-recipes-arrow-block">
                    <img src="{% static 'home/images/home-right-arrow.png' %}" alt="home-right-arrow" data-hover="" class="view-arrow view-arrow-right">
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}



  <section class="groups">
    <div class="container">
      <!-- Title Slogan -->
      <div class="groups-title-slogan-block">
        <div class="groups-title-block">
          <hi class="groups-title">Popular Groups</hi>
          <div class="groups-title-underline"></div>
        </div>
        <p class="groups-slogan">Find the perfect diet group for sharing ideas and interests.</p>
        <div class="view-all">
          <a href="{% url 'groups' %}">View all groups</a>
        </div>
      </div>
      <!-- Groups Item -->
      <div class="groups-items-block">
        {% for group in top_groups %}
          <a href="{% url 'group_forum' group_id=group.id %}" class="group-item-block">
            <div class="group-image-block">
              <img src="{% static group.img_path %}" alt="" class="group-image">
            </div>
            <p class="group-title">{{ group.name }}</p>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>



{% endblock content %}

{% block script %}
<!-- to enable JavaScript -->
<script type="text/javascript" src="{% static 'home/js/moving_arrow.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'users/js/panelSwitch.js' %}"></script> -->
{% endblock script %}