

{% extends "base.html" %} 
{% load static %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
{% endblock css %}

{% block content %}

<div class="grid">
  <div class="box1">
    Box1
  </div>
  <div class="box2">
    Box 2
    <img width="250" height="250" center src="{% static 'home/images/diet.svg' %}">
  </div>
  <div class="box3">
    Box 3
    
  </div>
  <div class="box4">
    Box 4
    <img width="250" height="250" center src="{% static 'home/images/cooking.svg' %}">
  </div>
</div>

{% endblock %}

{% block script %}
  <script>

  </script>
{% endblock script %}
