{% extends 'base.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/about.css' %}">
    {% endblock css %}

    {% block content %}
    <section id="ABOUT">
        <div class="container">
            <div id="ABOUT-title">
                <h1>MISSION STATEMENT</h1>
                <div id="about-line">
                </div>
                    <h1>
                        The developers at Kitchen Magician have a dream:
                        <br>
                        that one day people will no longer think of Westerners as Couch Potatoes,
                        <br>
                        that one day people are no longer forced to eat greasy, unhealthy Fast Food,
                        <br>
                        due to lack of recipe ideas,
                        <br>
                        that one day anyone willing can and will find ideas to make a change.
                        <br>
                        Ask, and you shall find!
                    </h1>
                
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>

    <section id="ABOUT">
        <div class="container">
            <div id="ABOUT-title">
                <h1>ABOUT US</h1>
                <div id="about-line"></div>
            </div>
        </div>
    </section>

    <section id="people-images">
        <div class="container">
            {% for k, v in team.items %}
            <div class="image-block">
                <a class="image-block-wrapper" href="{% url 'about-profile' name=v.name id=v.id %}">
                    <img src="{% static v.img %}" alt="" id="NP" class="images-img"/>
                </a>
                <div class="image-title">
                    <h1>{{ v.name }}</h1>
                    <h2>{{ v.title }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock content%}

{% block active-nav-link %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock active-nav-link %}
