* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: black;
  /* avenir-lt-w01_35-light1475496, sans-serif; */
}

/* GLOBAL */
body {
  background-color: white;
  min-height: 100vh;
  color: #555;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0px;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  padding: 0 0.5rem;
}

.btn-type1 {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: textColor;
  background-color: white;
  border: 1px solid #f56a58;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #f56a58;
}

button.btn-type1:hover {
  color: white;
  background-color: #f56a58;
  cursor: pointer;
}

/* HEADER */
#header {
  padding: 0;
  color: #f56a58;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  padding: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

#header .container a.KitchenMagician {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: left;
      -ms-flex: left;
          flex: left;
  height: 4rem;
  width: auto;
  margin: 0 4rem 0 0;
}

#header .container a.KitchenMagician img {
  max-width: 100%;
  max-height: 100%;
}

#header .container ul#ul-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
  padding: 0;
  list-style: none;
}

#header .container ul#ul-nav-link li.nav-link {
  list-style: none;
  display: inline;
}

#header .container ul#ul-nav-link li.nav-link a {
  margin: 0 0.1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f56a58;
}

#header .container ul#ul-nav-link li#search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0.4rem;
}

#header .container ul#ul-nav-link li#search #search-box {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 1rem;
  border: #f56a58 2.5px solid;
}

#header .container ul#ul-nav-link li#search #search-box .search-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
  border-color: white;
  outline: none;
  border: none;
  /* border-radius: 50px 50px 50px 50px; */
  /* padding: 0px 10px; */
  border-radius: 50px;
  width: 100%;
  line-height: 1rem;
  color: black;
  font-size: 1rem;
  float: left;
  padding: 2px;
}

#header .container ul#ul-nav-link li#search #search-box .search-btn {
  background-color: white;
  float: right;
  color: #f56a58;
  border: none 0 white;
  background: white;
}

#header .container ul#ul-nav-link #nav-link-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 15rem;
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header .container ul#ul-nav-link #nav-link-user li#account {
  margin-left: auto;
  font-size: 1.5rem;
}

#header .container ul#ul-nav-link #nav-link-user li#account button {
  color: #f56a58;
  background-color: white;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

#header .container ul#ul-nav-link #nav-link-user li#account button.btn-secondary.focus, #header .container ul#ul-nav-link #nav-link-user li#account button.btn-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header .container ul#ul-nav-link #nav-link-user li#account .dropdown-menu {
  background-color: white;
  color: #f56a58;
}

#header .container ul#ul-nav-link #nav-link-user li#account .dropdown-menu a {
  color: #f56a58;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* FOOTER */
#main-footer #footer-container {
  background: #f56a58;
  text-align: center;
  padding: 0.6rem 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

#main-footer #footer-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

#main-footer #footer-container .container #footer-logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-footer #footer-container .container #footer-logo-content #footer-logo {
  height: 3rem;
  width: auto;
}

#main-footer #footer-container .container #footer-logo-content #footer-logo img {
  max-width: 100%;
  max-height: 100%;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .footer-content-title {
  font: bolder;
  font-size: 1rem;
  margin: 0;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .footer-content-block-line {
  height: 100%;
  width: 1px;
  margin: 0 0.5rem;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block {
  margin: 0;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block .footer-content-text {
  font-size: 0.8rem;
  margin: 0;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
  margin: 0;
  color: white;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item a {
  color: white;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item#li-footer-content-medias #footer-content-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 0.5rem;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item#li-footer-content-medias #footer-content-medias a.social-icon {
  margin: 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: 1px solid white;
  height: 1.25rem;
  width: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item#li-footer-content-medias #footer-content-medias a.social-icon:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item#li-footer-content-medias #footer-content-medias a.social-icon i {
  color: white;
  font-size: 0.8rem;
}

#main-footer #footer-container .container #footer-logo-content .footer-content-block .ul-footer-content-block li.li-footer-content-item#li-footer-content-signup p {
  font-size: 1rem;
}

#main-footer #footer-container .container #footer-break-line {
  width: 100%;
  height: 1px;
  background: white;
  margin: 0.5rem 0;
}

#main-footer #footer-container .container ul#footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

#main-footer #footer-container .container ul#footer-policy li.footer-policy-item {
  list-style: none;
  color: white;
}

#main-footer #footer-container .container ul#footer-policy li.footer-policy-item a {
  color: white;
}

#main-footer #footer-container .container ul#footer-policy li.footer-policy-item.footer-policy-item-line {
  margin: 0 0.5rem;
}

#main-footer #footer-container .container p {
  margin: 0.5rem auto;
  color: white;
  font-size: 1rem;
}

@media (min-width: 854px) {
  .container {
    max-width: 828px;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 970px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1080px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 2160px) {
  .container {
    max-width: 1920px;
  }
}
/*# sourceMappingURL=base.css.map */