$textColor: #f56a58;
$backgroundColor: white;
$backgroundColorText: #fef9f6;
$textFontSize: 1.5rem;
$footerTextColor: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: black;
    /* avenir-lt-w01_35-light1475496, sans-serif; */
}

/* GLOBAL */
body {
    background-color: $backgroundColor;
    min-height: 100vh;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
    // overflow: hidden;
    .container {
        display: flex;
        margin: 1rem auto;
        padding: 0 0.5rem;
    }
}

.btn-type1 {
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: textColor;
    background-color: $backgroundColor;
    border: 1px solid $textColor;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: $textColor;
}

button.btn-type1:hover {
    color: $backgroundColor;
    background-color: $textColor;
    cursor: pointer;
    
}

/* HEADER */
#header {
    padding: 0;
    color: $textColor;
    .container {
        display: flex;
        margin: 2rem auto;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        // overflow: hidden;
        font-size: $textFontSize;
        a.KitchenMagician {
            display: flex;
            flex: left;
            // // position: bold;
            // font-weight: 700;
            // font-size: 2em;
            // line-height: 2.5rem;
            // text-transform: uppercase;
            // // letter-spacing: 2px;
            // // transition: 0.6s;
            // text-decoration: none;
            // color: $textColor;
            // // margin-right: 1rem;
            height: 4rem;
            width: auto;
            img {
                max-width: 100%;
                max-height: 100%;
            }
            margin: 0 4rem 0 0;
        }
        ul#ul-nav-link {
            display: flex;
            float: right;
            margin-bottom: 0;
            flex-grow: 1; // takes the rest of spaces
            // position: bold;
            justify-content: space-between;
            align-items: center;
            place-items: center;
            padding: 0;
            list-style: none;
            li.nav-link {
                // position: bold;
                list-style: none;
                display: inline;
                a {
                    // position: bold;
                    margin: 0 0.1rem;
                    text-decoration: none;
                    font-size: $textFontSize;
                    padding: 0.5rem 0;
                    color: $textColor;
                    border-bottom: $backgroundColor 2px solid;
                    &.active-nav-link {
                        border-bottom: $textColor 2px solid;
                    }
                }
                &.nav-link-underline a:hover {
                    border-bottom: $textColor 2px solid;
                    transition: ease-in-out 0.5s;
                }
                
            }
            li#search {
                flex-grow: 1; // takes the rest of spaces
                margin: 0 0.4rem;
                #search-box {
                    background-color: $backgroundColor;
                    width: 100%;
                    // min-width: 300px;
                    height: 100%;
                    border-radius: 50px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0.25rem 1rem;
                    border: $textColor 2.5px solid;
                    .search-text {
                        flex-grow: 1;
                        background-color: $backgroundColor;
                        border-color: $backgroundColor;
                        outline: none;
                        border: none;
                        /* border-radius: 50px 50px 50px 50px; */
                        /* padding: 0px 10px; */
                        border-radius: 50px;
                        width: 100%;
                        line-height: 1rem;
                        color: black;
                        font-size: 1rem;
                        float: left;
                        padding: 2px;
                    }
                    .search-btn {
                        background-color: $backgroundColor;
                        float: right;
                        color: $textColor;
                        border: none 0 $backgroundColor;
                        background: $backgroundColor;
                    }
                }
            }
            #nav-link-user {
                display: flex;
                flex-direction: row;
                min-width: 15rem;
                float: right;
                justify-content: end;
                li#account {
                    margin-left: auto;
                    font-size: $textFontSize;
                    button {
                        color: $textColor;
                        background-color: $backgroundColor;
                        border: none;
                        outline:none;
                        font-size: $textFontSize;
                        &.btn-secondary.focus, &.btn-secondary:focus {
                            box-shadow: none;
                    }
    
                    }
                    .dropdown-menu {
                        background-color: $backgroundColor;
                        color: $textColor;
                        a {
                            color: $textColor;
                            font-size: $textFontSize;
                            margin: 0.5rem 0;
                        }
                    }
                }
            }

        }
    }
}

/* FOOTER */
#main-footer {
    #footer-container {
        background: $textColor;
        text-align: center;
        padding: 0.6rem 0;
        margin-top: 1rem;
        margin-bottom: 0;
        .container {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            #footer-logo-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                #footer-logo {
                    height: 3rem;
                    width: auto;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                // FOOTER CONTENT
                .footer-content-block {
                    display: flex;
                    flex-direction: row;
                    .footer-content-title {
                        font: bolder;
                        font-size: 1rem;
                        margin: 0;
                    }
                    .footer-content-block-line {
                        height: 100%;
                        width: 1px;
                        // background: $footerTextColor;
                        margin: 0 0.5rem;
                    }
                    .ul-footer-content-block {
                        margin: 0;
                        .footer-content-text {
                            font-size: 0.8rem;
                            margin: 0;
                        }
                        li.li-footer-content-item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-decoration: none;
                            list-style: none;
                            margin: 0;
                            color: $footerTextColor;
                            a {
                                color: $footerTextColor;
                            }
                            // Medias
                            &#li-footer-content-medias {
                                #footer-content-medias {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 0 0 0 0.5rem;
                                    a.social-icon {
                                        margin: 0 0.2rem;
                                        display: flex;
                                        border-radius: 50%;
                                        border: 1px solid $footerTextColor;
                                        height: 1.25rem;
                                        width: 1.25rem;
                                        align-items: center;
                                        justify-content: center;
                                        text-decoration: none;
                                        filter: brightness(100%);
                                        &:hover {
                                            filter: brightness(90%);
                                        }
                                        i {
                                            color: $footerTextColor;
                                            font-size: 0.8rem;
                                        }
                                    }
                                }
                            }
                            // Join us
                            &#li-footer-content-signup {
                                p {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            #footer-break-line {
                width: 100%;
                height: 1px;
                background: $footerTextColor;
                margin: 0.5rem 0;
            }
            ul#footer-policy {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0;
                li.footer-policy-item {
                    list-style: none;
                    color: $footerTextColor;
                    a {
                        color: $footerTextColor;
                    }
                    &.footer-policy-item-line {
                        margin: 0 0.5rem;
                    }
                }
            }
            p {
                margin: 0.5rem auto;
                color: $backgroundColor;
                font-size: 1rem;
            }
        }
    }
}

// Medium-Large devices (tablets, less than 854px)
// @media (max-width: 854px) {  
//     .container {
//         width: 828px;
//     }

// }

@media (min-width: 854px) {  
    .container {
        max-width: 828px;
    }

}

@media (min-width: 940px) {  
    .container {
        max-width: 920px;
    }
}

@media (min-width: 970px) {  
    .container {
        max-width: 950px;
    }
}

@media (min-width: 992px) {  
    .container {
        max-width: 960px;
    }

}

@media (min-width: 1080px) {  
    .container {
        max-width: 1024px;
    }

}

@media (min-width: 1200px) {  
    .container {
        max-width: 1080px;
    }

}


@media (min-width: 1440px) {  
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {  
    .container {
        max-width: 1440px;
    }
}


@media (min-width: 1920px) {  
    .container {
        max-width: 1600px;
    }
}


@media (min-width: 2160px) {  
    .container {
        max-width: 1920px;
    }
}


// narrower
// @media (min-width: 854px) {  
//     .container {
//         max-width: 828px;
//     }

// }

// @media (min-width: 940px) {  
//     .container {
//         max-width: 920px;
//     }
// }

// @media (min-width: 970px) {  
//     .container {
//         max-width: 950px;
//     }
// }

// @media (min-width: 992px) {  
//     .container {
//         max-width: 960px;
//     }

// }

// @media (min-width: 1080px) {  
//     .container {
//         max-width: 1024px;
//     }

// }

// @media (min-width: 1100px) {  
//     .container {
//         max-width: 1080px;
//     }

// }


// @media (min-width: 1200px) {  
//     .container {
//         max-width: 1140px;
//     }

// }

// @media (min-width: 1366px) {  
//     .container {
//         max-width: 1280px;
//     }
// }

// @media (min-width: 1440px) {  
//     .container {
//         max-width: 1366px;
//     }
// }

// @media (min-width: 1600px) {  
//     .container {
//         max-width: 1536px;
//     }
// }

// @media (min-width: 1680px) {  
//     .container {
//         max-width: 1600px;
//     }
// }


// @media (min-width: 1920px) {  
//     .container {
//         max-width: 1600px;
//     }
// }


// @media (min-width: 2048px) {  
//     .container {
//         max-width: 1920px;
//     }
// }

// @media (min-width: 2160px) {  
//     .container {
//         max-width: 2048px;
//     }
// }