$textColor: #f56a58;
$backgroundColor: white;
$backgroundColorText: #fef9f6;
$textFontSize: 1.5rem;
$footerTextColor: white;

#home-block {
    margin: 2em 3em;
    .wrapper {
        outline: 1px solid white;
        margin: 50px;
        .home-first-block {
            background-image: url("../images/home_share.svg");
            width: 100%;
            border: 15px solid #F56A58;
            border-radius: 25px;
            padding: 100px;
            text-align: center;
            font-size: 24px;
            position: relative;
            margin: auto;
            .btn-outline-info {
                background-color: #F56A58;
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }
        }
        // Search Input 
        #search-input-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            padding: 0 8rem;
            #search-input-block {
                flex-grow: 1;
                position: relative;
                display: flex;
                align-items: center;
                #search-input-text-icon {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    height: 100%;
                    top: 0;
                    left: 0;
                    i.fas {
                        padding: auto;
                        margin: auto;
                        line-height: 0;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0.5rem;
                    }
                }
            }
            // Inputs - Text & Button
            .search-input {
                border-radius: 5px 0 0 5px;
                // margin-right: 1rem;
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
                box-shadow: none;
                outline: none;
                text-decoration: none;
            }
            #search-input-text {
                border: $textColor 1px solid;
                padding-left: 2rem;
                width: 100%;
            }
            #search-input-submit {
                background-color: $textColor;
                border: 1px solid $textColor;
                border-radius: 0 5px 5px 0;
                color: white;
                &:hover {
                    filter: brightness(95%);
                }
            }
        }
        

        // Popular Search 
        .welcome-popular-searches-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
            .welcome-popular-searches-title {
                // background: $backgroundColorText;
                color: $textColor;
                font-size: 1.5rem;
            }
            .welcome-popular-searches-items {
                margin: 1rem 0;
                .popular-search-keyword {
                    background: $backgroundColorText;
                    color: black;
                    padding: 0.5rem;
                    margin: 0 0.25rem;
                    opacity: 80%;
                    text-decoration: none;
                    border-radius: 5px;
                    text-transform: capitalize;

                    &:hover {
                        filter: brightness(80%);
                    }
                }
            }
        }

        // Trending Recipes
        .home-statement {
            text-align: center;
            background-color: #F56A58;
            width: 100%;
            border: 15px solid #F56A58;
            border-radius: 25px;
            padding: 5px;
            font-size: 24px;
            position: relative;
            margin: auto;
        }
        .home-trending {
            width: 100%;
            border-radius: 45px;
            padding: 0px;
            margin: 10px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            .form-group .d-block{
                border: 15px solid #F56A58;
                border-radius: 25px;
            }
        }
    }
}

// Trending section
.home-trending {
    #carousel-inner-block {
        width: 100%;
        height: 30rem;
        .carousel-item {
            height: 100%;
            width: 100%;
            .trending-pic-a {
                width: 100%;
                height: 100%;
                .trending-pic {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}
