

/* @import url('base.css'); */

#home-block {
  margin: 2em 3em;
}

#home-block .wrapper {
  outline: 1px solid white;
}

#home-block .home-first-block {
  background-image: url("../images/home_share.svg");
  width: 100%;
  border:  15px solid #F56A58;
  border-radius: 25px;
  padding: 100px;
  text-align: center;
  font-size: 24px;
  position: relative;
  margin: auto;
}

#home-block .home-first-block .btn-outline-info {
  background-color: #F56A58;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#home-block .home-trending .form-group .d-block{
  border-radius: 25px;
  margin: 0 auto;
}

#home-block .home-trending {
  width: 100%;
  /* border: 15px solid  #F56A58; */
  border-radius: 45px;
  padding: 0px;
  margin: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

