@charset "UTF-8";
* {
  font-size: 20px;
}

.block-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.block-line .block-line-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  width: auto;
  background-color: #999;
  padding: 0;
  margin: 0;
}

.block-line img.image-block-line {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
}

section#recipe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-bottom: 0;
}

section#recipe .container #diet-title-favorite-block {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#recipe .container #diet-title-favorite-block img#diet-image {
  max-height: 4rem;
  max-width: 4rem;
}

section#recipe .container #diet-title-favorite-block #recipe-title {
  margin: 0 1rem;
}

section#recipe .container #diet-title-favorite-block input#favorite-block {
  max-height: 1.5rem;
  max-width: 1.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

section#recipe .container #user-information-block {
  position: relative;
}

section#recipe .container #user-information-block #user-block {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

section#recipe .container #user-information-block #user-block img#user-avatar-block {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid white;
}

section#recipe .container #user-information-block #user-block p#user-name-block {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.2rem;
  background-color: white;
  border: 0.2rem solid white;
}

section#recipe .container #user-information-block #information-block {
  margin-top: 1.5rem;
  padding: 1.5rem 1rem;
  background-color: #fef9f6;
  font-size: 1rem;
  border-radius: 0.5rem;
}

section#recipe .container #image-prep-serve-course-occasion-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
  margin: 1rem 0;
}

section#recipe .container #image-prep-serve-course-occasion-block img {
  max-width: 100%;
  height: auto;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block {
  padding: 0;
  list-style: none;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li#recipe-time-block::before {
  background-image: url("../images/recipe_time.png");
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li#recipe-serving-block::before {
  background-image: url("../images/recipe_serving.png");
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li#recipe-course-block::before {
  background-image: url("../images/recipe_course.png");
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li#recipe-occasion-block::before {
  background-image: url("../images/recipe_occasion.png");
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li .recipe-info-block-header {
  font-weight: bolder;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li .recipe-info-block-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

section#recipe .container #image-prep-serve-course-occasion-block #ul-recipe-info-block li .recipe-info-block-items .recipe-info-block-item {
  margin: 0;
  padding: 0;
}

section#recipe .container #ingredients-instructions-block #ingredients-block #ingredients-block-checkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

section#recipe .container #ingredients-instructions-block #instructions-block ul {
  margin-bottom: 0;
  list-style: none;
}

section#recipe .container #ingredients-instructions-block #instructions-block ul li label {
  font-size: 1.2rem;
  font-weight: bolder;
}

section#recipe .container #ingredients-instructions-block #instructions-block ul li::before {
  content: "•";
  margin-right: 0.2rem;
}

section#recipe-comments .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#recipe-comments .container form textarea#add-comment {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

section#recipe-comments .container form textarea#add-comment:placeholder-shown {
  font-style: italic;
}

section#recipe-comments .container form .review-submit-btn {
  color: white;
  background-color: #f56a58;
  padding: 1rem 2rem;
  border-color: #f56a58;
  font-size: 1.2rem;
  font-weight: bolder;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
/*# sourceMappingURL=recipe.css.map */