{% extends 'base.html' %}
{% load static %}

        {% block css %}
        <!-- CSS files Links here -->
        <link rel="stylesheet" href="{% static 'testing/css/testing.css' %}">
        {% endblock css%}

        {% block content %}
        <div class="h1 {{ diets }}">{{ diets }}</div>
        {% endblock content %}

        {% block script %}
        <!-- Script files Links here -->
        <script type="text/javascript" src="{% static 'testing/js/testing.js' %}"></script>
        {% endblock script %}