<link rel="stylesheet" href="/static/users/css/register.css">

    <div class="container">
        <div class="content-section">
            <form
                action="" method="POST">
                <!-- Authentication Token -->
                <input type="hidden" name="csrfmiddlewaretoken" value="T9wWtw0dGqI2EtoUAxtfVYcExgsS8yXslukvQq7pz9X10wLcVAxDKqC1VgT03vkr">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Join Today</legend>
                        <!-- Bootstrap Form -->


                        <div id="div_id_username" class="form-group">
                            <label for="id_username" class=" requiredField">
                                Username<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="text" name="username" value="fddf" maxlength="150" autofocus class="textinput textInput form-control" required id="id_username">
                                    <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                                </div>
                            </div>
                            <div id="div_id_email" class="form-group">
                                <label for="id_email" class=" requiredField">
                                    Email<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="email" name="email" value="fdfd@gmail.com" class="emailinput form-control" required id="id_email"></div>
                                </div>
                                <div id="div_id_password1" class="form-group">
                                    <label for="id_password1" class=" requiredField">
                                        Password<span class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_password1">
                                            <small id="hint_id_password1" class="form-text text-muted">
                                                <ul>
                                                    <li>Your password can’t be too similar to your other personal information.</li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can’t be a commonly used password.</li>
                                                    <li>Your password can’t be entirely numeric.</li>
                                                </ul>
                                            </small>
                                        </div>
                                    </div>
                                    <div id="div_id_password2" class="form-group">
                                        <label for="id_password2" class=" requiredField">
                                            Password confirmation<span class="asteriskField">*</span>
                                        </label>
                                        <div class="">
                                            <input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control is-invalid" required id="id_password2">
                                                <p id="error_1_id_password2" class="invalid-feedback">
                                                    <strong>The two password fields didn’t match.</strong>
                                                </p>
                                                <small id="hint_id_password2" class="form-text text-muted">Enter the same password as before, for verification.</small>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <div class="from-group">
                                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                    </div>
                                </form>
                                <div class="border-top pt-3">
                                    <small class="text-muted">
                                        Already a member?
                                        <a href="" class="ml-2">Sign in!</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
