#search-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fef9f6;
  padding: 1rem;
}

#search-bar .container #search-input-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-bar .container #search-input-block #search-input-text-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 100%;
  top: 0;
  left: 0;
}

#search-bar .container #search-input-block #search-input-text-icon i.fas {
  padding: auto;
  margin: auto;
  line-height: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

#search-bar .container .search-input {
  border-radius: 5px;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  text-decoration: none;
}

#search-bar .container #search-input-text {
  border: lightgray 1px solid;
  padding-left: 2rem;
  width: 100%;
}

#search-bar .container #search-input-submit {
  background-color: #f56a58;
  border: 1px solid #f56a58;
  color: white;
}

#search-bar .container #search-input-submit:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

#search-filter-results .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 90vh;
}

#search-filter-results .container #search-filter-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#search-filter-results .container #search-filter-category img {
  max-width: 2rem;
  max-height: 2rem;
}

#search-filter-results .container #search-filter-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

#search-filter-results .container #search-filter-categories .filter-category-block-line {
  height: 1px;
  background-color: lightgray;
  width: 100%;
  margin: 0.8rem 0;
}

#search-filter-results .container #search-filter-categories .filter-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-filter-results .container #search-filter-categories .filter-title-icon img {
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.5rem;
}

#search-filter-results .container #search-filter-categories .filter-title-icon .filter-title {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
}

#search-filter-results .container #search-filter-categories .filter-category {
  padding-right: 2rem;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items {
  margin: 0;
  list-style: none;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items li.filter-category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  text-decoration: none;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items li.filter-category-item input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items li.filter-category-item input:hover {
  cursor: pointer;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items li.filter-category-item label {
  font-size: 0.8rem;
  margin: 0;
}

#search-filter-results .container #search-filter-categories .filter-category ul.filter-category-items li.filter-category-item label:hover {
  cursor: pointer;
}

#search-filter-results .container #search-results-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#search-filter-results .container #search-results-block #search-results-block-info .search-result-title {
  font-size: 1rem;
}

#search-filter-results .container #search-results-block #search-results-block-recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-height: 12rem;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-image img {
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 5px;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block {
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block .recipe-info-item {
  margin: 0.2rem 0;
  padding: 0;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block a.recipe-title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #f56a58;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block .recipe-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block .recipe-favorite img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block .recipe-info-block .recipe-favorite p {
  font-size: 1rem;
}

#search-filter-results .container #search-results-block #search-results-block-recipes .recipe-block-line {
  height: 1px;
  background-color: lightgray;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=search.css.map */