

/* @import url('base.css'); */

#home-block .home-first-block {
  background-image: url("../images/home_share.svg");
  width: 100%;
  border: 15px solid #F56A58;
  padding: 100px;
  margin: 20px;
  text-align: center;
  
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

#home-block .home-trending {
  width: 100%;
  border: 15px solid #F56A58;
  padding: 100px;
  margin: 20px;
  text-align: center;
  
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
}


