$textColor: #f56a58;

#not-found.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: textColor;
    }
    #second-line {
        color: black;
    }
    #third-line {
        color: black;
    }
}