{% extends 'base.html' %}
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}" />
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock css %} 


{% block content %}
<section id="ForgotPassword-block">
    <img class="background" src="{% static 'users/images/background.png' %}">
    <h1>Reset Password</h1>

    <p>Click on the reset button to reset the form.</p>

    <form action="/action_page.php">

        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="pin">Enter a PIN:</label>
        <input type="text" id="pin" name="pin" maxlength="4"><br><br>  

        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
    </form>
</section>

{% endblock content %}

<!-- {% block script %}
<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/panelSwitch.js' %}"></script>
{% endblock script %} -->

