{% extends 'base.html' %}
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}" />
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock css %} 


{% block content %}
<section id="login-block">
    <img class="background" src="{% static 'users/images/background.png' %}">
    <div class="container" id="reset-container">
        <div class="img">
            <img class="havingfun" src="{% static 'users/images/havingfun.svg' %}">
        </div>
        <div class="login">
            <!-- sign in  -->
            <form action="" class="reset-form" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div id="welcome">
                        <img class="avatar" src="{% static 'users/images/avatar.svg' %}">
                        <h2>Welcome</h2>
                    </div>
                    {% if account %}
                        <div class="input-text">
                            <p id="account-auth-error">{{account}}</p>
                        </div>
                    {% endif %}
                    <!-- username  -->
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-text">
                            <h5>Username</h5>
                            <input class="input" name="username" type="text" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        </div>
                    </div>
                    <!-- password  -->
                    <div class="input-div two">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="input-text">
                            <h5>Password</h5>
                            <input class="input" name="password" type="password" autocomplete="current-password" required id="id_password">
                        </div>
                    </div>
                </fieldset>

                <!-- forgot password/sign up  -->
                <button class="btn btn-outline-info" type="submit">Log In</button>
                <div id="reset-password-signup">
                    <a id="reset-button" href="{% url 'forgot-password' %}">Reset Password</a>
                    <!-- <a id="signup-button" href="{% url 'forgot_password' %}">Forgot Password</a> -->
                    &emsp14;
                    <a id="signup-button" href="{% url 'signup' %}">Sign Up</a>
                </div>
                <p class="social-text">Or Sign in with</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/panelSwitch.js' %}"></script>
{% endblock script %}

