{% extends 'base.html' %}
{% load static %}
        {% block css %}
        <link rel="stylesheet" href="{% static 'recipe/css/recipe.css' %}">
        {% endblock css %}
        
        {% block content %}
        {% if recipe_data %}
        <section id="recipe">
            <div id="recipe-container" class="container">
                <div id="diet-title-favorite-block">
                    <div id="diet-block">
                        <!-- Add a diet link here -->
                        <a href="">
                            <img id="diet-image" src="{% static 'recipe/images/diet_test.png' %}" alt="">
                        </a>
                        <p>{{ recipe_data.diets.0 }}</p>
                    </div>
                    <h1 id="recipe-title">{{ recipe_data.name }}</h1>
                    {% if user.is_authenticated %}
                        {% if favorite %}
                        <input id="input-favorite-block" class="favorite-block" type="image" value="saved" onclick="changeFavorite()" src="{% static 'recipe/images/favorite_heart_saved.png' %}"/>
                        {% else %}
                        <input id="input-favorite-block" class="favorite-block" type="image" value="unsaved" onclick="changeFavorite()" src="{% static 'recipe/images/favorite_heart_unsaved.png' %}"/>
                        {% endif %}
                    {% else %}
                        <!-- Login request -->
                        <a href="/login/?next={{request.path}}" id="a-favorite-block"></a>
                    {% endif %}
                </div>
                <div id="user-information-block">
                    <div id="user-block">
                        <img id="user-avatar-block" src="{{ recipe_data.user_avatar.url }}" alt="user_avatar">
                        <p id="user-name-block">{{ recipe_data.user }}</p>
                    </div>
                    <h4 id=information-block>{{ recipe_data.information }}</h4>
                </div>
                <div id="image-prep-serve-course-occasion-block">
                    {% if recipe_data.images %}
                    <img src="{{ recipe_data.images.url }}" alt="">
                    {% endif %}
                    <ul id="ul-recipe-info-block">
                        <li id="recipe-time-block" class="recipe-info-block">
                            <h class="recipe-info-block-header">Total Time</h>
                            <div class="recipe-info-block-items">
                                <p class="recipe-info-block-item">Prep: {{ recipe_data.preparation_time }}</p>
                                <p class="recipe-info-block-item">Cook: {{ recipe_data.cooking_time }}</p>
                            </div>
                        </li>
                        <li id="recipe-serving-block" class="recipe-info-block">
                            <h class="recipe-info-block-header">Makes</h>
                            <div class="recipe-info-block-items">
                                <p class="recipe-info-block-item">Servings: {{ recipe_data.quantity_serve }}</p>
                            </div>
                        </li>
                        <li id="recipe-course-block" class="recipe-info-block">
                            <h class="recipe-info-block-header">Course</h>
                            <div class="recipe-info-block-items">
                                <p class="recipe-info-block-item">{{ recipe_data.course }}</p>
                            </div>
                        </li>
                        <li id="recipe-occasion-block" class="recipe-info-block">
                            <h class="recipe-info-block-header">Holiday</h>
                            <div class="recipe-info-block-items">
                                {% for occasion in recipe_data.occasions %}
                                <p class="recipe-info-block-item">{{ occasion }}</p>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="ingredients-instructions-block">
                    <div id="ingredients-block">
                        <div class="block-line">
                            <div id="block-line-ingredients" class="block-line-line"></div>
                            <img src="{% static 'recipe/images/recipe_ingredients.png' %}" alt="" class="image-block-line" id="image-block-line-ingredients">
                        </div>
                        <h3 class="recipe-headers">Ingredients</h3>
                        <div id="ingredients-block-checkboxes">
                            {% for ingredient in recipe_data.ingredients %}
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="ingredient-{{ingredient}}">
                                <label class="custom-control-label" for="ingredient-{{ingredient}}">{{ ingredient }}</label>
                            </div>
                            <!-- <p class="recipe-ingredient-p">{{ ingredient }}</p> -->
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div id="instructions-block">
                        <div class="block-line">
                            <div id="block-line-instructions" class="block-line-line"></div>
                            <img src="{% static 'recipe/images/recipe_instructions.png' %}" alt="" class="image-block-line" id="image-block-line-ingredients">
                        </div>
                        <h3 class="recipe-headers">Instructions</h3>
                        <ul id="ul-instruction-block">
                            {% for instruction in recipe_data.instructions %}
                            <li>
                                <label>Step {{ forloop.counter }}</label>
                                <p class="recipe-instruction-p">{{ instruction }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                <!-- </div>
                        <p>Video Link: {{ recipe_data.video_link }}</p>
                </div> -->
            </div>
        </section>
        <section id="recipe-comments">
            <div class="container">
                <!-- Submit comment -->
                <div class="block-line">
                    <div id="block-line-ingredients" class="block-line-line"></div>
                    <img src="{% static 'recipe/images/recipe_review.png' %}" alt="" class="image-block-line" id="image-block-line-ingredients">
                </div>
                <h3 class="recipe-headers">Reviews</h3>
                {% if user.is_authenticated %}
                <form action="" id="submit-comment" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <textarea name="comment" required id="add-comment" rows="5" placeholder="Please provide a review on what you thought it of the recipe and how you adjusted it."></textarea>
                        <div id="submit-button-block" class="recipe-button-block">
                            <button type="submit" id="submit-button" class="review-btn" >SUBMIT REVIEW</button>
                        </div>
                    </fieldset>
                </form>
                {% else %}
                <!-- Login request -->
                <a id="login-review" href="/login/?next={{request.path}}" class="review-btn" >Log In To Add Review</a>
                {% endif %}
                <!-- User comments -->
                <div id="recipe-all-comments">
                    {% for comment in comments %}
                    <div class="recipe-comment-line"></div>
                    <div class="recipe-comment">
                        <div class="comment-user-info">
                            <img class="comment-user-info-user_avatar" src="{{ comment.user_avatar.url }}" alt="">
                            <p class="comment-user-info-user">{{ comment.user }}</p>
                            <p class="comment-user-info-created">{{ comment.created|date:"N d, Y" }}</p>
                        </div>
                        <p>{{ comment.comment }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% else %}  
        <p>Sorry, we can't find the recipe.</p>
        {% endif %}
        {% endblock content %}

        {% block script %}
        <script src="{% static 'recipe/js/recipe.js' %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            // Hover change image
            var favoriteBtn = $("#input-favorite-block");
            favoriteBtn.on('mouseenter', function(){
                hoverPath = `../../static/recipe/images/favorite_heart_${favoriteBtn.attr('value')}_hover.png`;
                favoriteBtn.attr("src", hoverPath);
            })
            favoriteBtn.on('mouseleave', function(){
                hoverPath = `../../static/recipe/images/favorite_heart_${favoriteBtn.attr('value')}.png`;
                favoriteBtn.attr("src", hoverPath);
            })

            // update favorite to database
            function changeFavorite() {
                var favoriteBtn = $("#input-favorite-block");
                var favoriteValue = favoriteBtn.attr("value");
                if(favoriteValue == "unsaved") {
                    favoriteBtn.attr("src", "../../static/recipe/images/favorite_heart_saved.png");
                    favoriteBtn.attr("value", "saved");
                } else {
                    favoriteBtn.attr("src", "../../static/recipe/images/favorite_heart_unsaved.png");
                    favoriteBtn.attr("value", "unsaved");
                }
                console.log(`Before - ${favoriteValue}`);
                console.log(`After - ${favoriteBtn.attr("value")}`);

                $.ajax({
                    type: "POST",
                    url: "",
                    data: { 
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "favoriteValue": favoriteValue,
                    },
                    success: function() {
                    console.log('Updated favorite');
                    },
                });
            }
        </script>
        {% endblock script %}