{% extends 'base.html' %}
{% load static %}
        {% block css %}
        <link rel="stylesheet" href="{% static 'recipe/css/recipe.css' %}">
        {% endblock css %}
        {% block content %}
        <section id="recipe">
            <div id="recipe-container" class="container">
                {% if recipe_data %}
                <div id="diet-title-favorite-block">
                    <img src="{% static 'recipe/images/diet_test.png' %}" alt="">
                    <p>{{ recipe_data.name }}</p>
                    <button id="favorite-block"></button>
                </div>
                <div id="user-information-block">
                    <img src="{{ recipe_data.user_avatar.url }}" alt="user_avatar">
                    <legend>{{ recipe_data.user }}</legend>
                    <h4>{{ recipe_data.information }}</h4>
                </div>
                <div id="image-prep-serve">
                    {% if recipe_data.images %}
                    <img src="{{ recipe_data.images.url }}" alt="">
                    {% endif %}
                    <p>Preparation Time: {{ recipe_data.preparation_time }}</p>
                    <p>Quantity Serve: {{ recipe_data.quantity_serve }}</p>

                </div>
                <div id="recipe">
                        <p>Ingredient: {{ recipe_data.ingredients }}</p>
                        <p>Instruction: </p>
                        {% for instruction in recipe_data.instructions %}
                        <h4>   - Step {{ forloop.counter }}</h4>
                        <p>    {{instruction}}</p>
                        {% endfor %}
                        <p>Image: </p>

                        <p>Video Link: {{ recipe_data.video_link }}</p>
                        <p>Preparation Time: {{ recipe_data.preparation_time }}</p>
                        <p>Quantity Serve: {{ recipe_data.quantity_serve }}</p>
                        <p>Course: {{ recipe_data.course }}</p>
                        <p>Occasion: {{ recipe_data.occasions }}</p>
                        <p>Diet: {{ recipe_data.diets }}</p>
                </div>
                {% else %}  
                <p>Sorry, we can't find the recipe.</p>
                {% endif %}
            </div>
        </section>
        {% endblock content %}