<!-- kitchen/template/about.html -->
<!-- Programmers: Jeff C Cheng -->
<!-- Last Modified: 11/1/2020 -->
<!-- use Django template in base.html -->

{% extends "kitchen/base.html" %}

{% block content %}
  <br />
  <br />
  <br />
  <h1>About</h1>
  <a class="nav-item nav-link" href="{% url 'kitchen_about' %}">Allen Sun</a>
  <a class="nav-item nav-link" href="{% url 'kitchen_groups' %}">Jeff C Cheng</a>                            
  <a class="nav-item nav-link" href="{% url 'kitchen_profile' %}">Kevin Ortiz</a>     
  <a class="nav-item nav-link" href="{% url 'kitchen_about' %}">Kevin Wei</a>
  <a class="nav-item nav-link" href="{% url 'kitchen_groups' %}">Nicole Pang</a>                            
  <a class="nav-item nav-link" href="{% url 'kitchen_profile' %}">Paul Asu</a>                               
{% endblock content %}
