<!-- kitchen/template/groups.html -->
<!-- Programmers: Jeff C Cheng -->
<!-- Last Modified: 11/1/2020 -->
<!-- use Django template in base.html -->
<!-- created just basic dividers between sections -->

{% extends "kitchen/base.html" %}

{% block content %}
  <br />
  <br />
  <br />
  Note:  No groups exist yet and all current table data hardcoded
  <table style="width:100%">
    <tr>
      <th>Group Name</th>
      <th>Member Count</th>
    </tr>
    <tr>
      <td>American Cooking</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Indian Cooking</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Italian Cooking</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Japanese Cooking</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Korean Cooking</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Spanish Cooking</td>
      <td>0</td>
    </tr>
  </table> 
{% endblock content %}
