<!-- kitchen/template/kevin_ortiz.html -->
<!-- Programmers: Jeff C Cheng -->
<!-- Last Modified: 11/1/2020 -->
<!-- added Kevin Ortiz's bio -->
<!-- use Django template in base.html -->

{% extends "kitchen/base.html" %}

{% block content %}
  <br />
  <br />
  <br />
  <div>
    <br />
    <div>
      <br />
      <h1>About Kevin Ortiz</h1>
      Kevin Ortiz is a 4th year undergraduate at San Francisco State University.
      <br />
      <br />
      Kevin's major is Computer Science. On the days he is not in class, he walks
      his two dogs and also goes bike riding. He also enjoys traveling and if he
      can live anywhere it will be anywhere that is near the beach!
      <br />
    </div>
{% endblock content %}