<!-- kitchen/template/paul_asu.html -->
<!-- Programmers: Jeff C Cheng -->
<!-- Last Modified: 11/1/2020 -->
<!-- added Paul Asu's bio -->
<!-- use Django template in base.html -->

{% extends "kitchen/base.html" %}

{% block content %}
  <br />
  <br />
  <br />
  <div>
    <br />
    <br />
    <h1>About Nicole</h1>
    Nicole Pang is a fourth year undergraduate computer science student at San
    Francisco State University.
    <br />
    <br />
    In her free time she enjoys walking her three dogs, watching Netflix, and
    playing video games.
    <br />
</div>{% endblock content %}