<!-- kitchen/template/paul_asu.html -->
<!-- Programmers: Jeff C Cheng -->
<!-- Last Modified: 11/1/2020 -->
<!-- added Paul Asu's bio -->
<!-- use Django template in base.html -->

{% extends "kitchen/base.html" %}

{% block content %}
  <br />
  <br />
  <br />
  <div>
      <br />
      <h1>Paul Asu</h1>

      <p>
        <h4>
          I am Asu Paul a senior in the Computer Science department at the San
          Francisco State University.
          <br />
          I love traveling and spending time with my family.
          <br />
          Originally I'm from Nigeria-the most populous black nation, in West
          Africa.
          <br />
        </h4>
      </p>
  </div>
{% endblock content %}