{% extends "kitchen/base.html" %}
from django.contrib.auth.models import User
from .models import Recipe
from django.db.models import Q

{% block content %}
    <!-- <form action="{% url 'kitchen_search' %}" method="get">
        <input name="author" type="text" placeholder="author...">
        <input name="content" type="text" placeholder="content...">
        <input type="submit" value="Submit">
    </form> -->

    <!-- {% if recipes %}
        recipes = Recipes.objects.all()
    {% else %}
        recipes = Recipes.objects.all()    
    {% endif %} -->
     
    {% for recipe in recipes %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">By {{ recipe.author }}</a>
                <!-- no need to show the seconds so only show month, day and year -->
                <small class="text-muted">On {{ recipe.date_created|date:"F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="#">Title: {{ recipe.title }}</a></h3>
            <p class="article-content">{{ recipe.content }}</p>
            </div>
        </article>    
    {% endfor %}
{% endblock content %}