<!-- kitchen/template/search.html -->
<!-- Programmers: Jeff C Cheng, Allen Sun -->
<!-- Last Modified: 11/1/2020 -->
<!-- use Django template in base.html -->
<!-- get results from kitchen/views.py through context, which includes user's search query -->

{% extends "kitchen/base.html" %}
from django.contrib.auth.models import User
from .models import Recipe
from django.db.models import Q

{% block content %}   
    {% for recipe in recipes %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">By {{ recipe.author }}</a>
                <!-- no need to show the seconds so only show month, day and year -->
                <small class="text-muted">On {{ recipe.date_created|date:"F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="#">Title: {{ recipe.title }}</a></h3>
            <p class="article-content">{{ recipe.content }}</p>
            </div>
        </article>    
    {% endfor %}
{% endblock content %}